<nav>
  <!--キーワード検索機能-->
  <%= render 'search_form', q: @q %>

  <!--タグリスト-->
  <% @tag_lists.each do |list| %>
  <%= link_to list.name, search_tag_path(tag_id: list.id) %>
  <%= "(#{list.questions.count})" %>
  <% end %>
</nav>

<main>
  <% @questions.each do |question| %>
  <article>
    <header>
      <p>
        <%= image_tag question.user.get_profile_image(30, 30), size: "30x30" %>
        <%= link_to question.user.name, user_path(question.user_id) %>
      </p>
    </header>

    <h2><%= link_to question.title, question_path(question.id)  %></h2>

    <footer>
      <p><%= link_to "#{question.answer.count} コメント", question_path(question.id) %></p>
      <p><%= question.created_at .strftime('%Y/%m/%d %H:%M')%></p>
    </footer>
  </article>
  <% end %>
</main>
<%= paginate @questions %>