<div class="container py-5">
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div class="row mt-2 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background"><%= (@user.name) %>さんの会員詳細</h3>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-list">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td>名前</td>
          <td><%= (@user.name) %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @user.is_active %>
              <b class="text-muted">退会</b>
            <% else %>
              <b class="text-success">有効</b>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-3 offset-2">
      <%= link_to "編集する", edit_admin_user_path(@user), class: 'btn btn-success m-3' %>
    </div>
  </div>

</div>